// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import "~jquery-ui/themes/base/all.css";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.imagecover {
  object-fit: cover;
}

.currency_symbol{
  font-family:  Helvetica, Arial, sans-serif;
}